* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Neucha", cursive;
  color: #373737;
  letter-spacing: 2px;
  scroll-behavior: smooth;
}

.blank_page {
  background-color: #565656;
  min-width: 640px;
  min-height: 100vh;
}

.loading {
  color: white;
  text-align: center;
  height: 50%;
  padding: 500px 0;
  font-size: 1.6rem;
}
