.evo--link_container {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
}

.evo--link {
    text-align: center;
    text-decoration: none;
}

.evo--title {
    text-align: center;
    text-decoration: underline;
    padding-bottom: 2rem;
}

.evo--pokemon_name {
    padding-bottom: 1rem;
}

.evo--img_background {
    background-color: rgb(173, 212, 225,0.5);
    border-radius: 50%;
}

.evo--img_background:hover {
    background-color: rgba(173, 212, 225, 1);
}

@media (max-width: 1700px) {
    .evo--link_container {
        flex-direction: column;
        align-items: center;
    }

    .evo--link {
        margin: 1rem 0;
    }
    .evo--img_background {
        width: 500px;
        height: 500px;
    }
}

@media (max-width: 850px) {
    .evo--img {
        height: 350px;
        width: 350px;
    }

    .evo--img_background {
        width: 350px;
        height: 350px;
    }
}